body {
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
}

.info {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}

section {
    margin: 20px;
    background-color: #333333;
    border-radius: 20px;
}

input[type=checkbox] {
    margin-bottom: 5vh;
}

h1 {
    color: #9c9c9c;
    margin-left: 10px;
    margin-bottom: 10px;
}

h10 {
    color: red;
    font-size: 10px;
}

.div {
    width: 40vh;
    margin: 30px;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #2ecc71;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

input[type=text] {
    width: 80%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #9c9c9c;
    border-radius: 10px;
}

label {
    display: block;
    margin: 10px 0;
    color: #ffffff;
}

button {
    width: 20%;
    padding: 10px;
    margin-left: 40%;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #27ae60;
    cursor: pointer;
}

.hobbies {
    display: flex;
    justify-content: center;
    align-items: center;
}