body {
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
}

header {
    display: flex;
    justify-content: end;
}

main {
    padding-top: 10vh;
}

section {
    margin-left: 15vh;
    margin-right: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #9c9c9c;
}

.div {
    width: 20vh;
    margin: 30px;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #2ecc71;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

div:hover {
    border-color: #ffffff;
    cursor: pointer;
}

a {
    padding-right: 15px;
    padding-top: 15px;
    color: #2ecc71;
    text-decoration: none;
}

img {
    width: 18px;
    height: auto;
}

h1 {
    color: white;
    margin-left: 17vh;
    /*text-shadow: ;*/
}

.choice {
    padding: 0;
}

/*------------------------------------------------------------------------------------------------------------*/


/* Foncer l'arrière-plan de la fenêtre modale */
.modal {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Afficher la fenêtre modale lorsqu'elle est ciblée par un lien supprimer */
.modal:target {
    display: table;
    position: absolute;
}

/* la fenêtre modale  */
.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

/* Le contenu de la modale */
.modal-dialog .modal-content {
    background-color: #2a2a2a;
    position: relative;
    padding: 0;
    outline: 0;
    margin-left: 150vh;
    margin-bottom: 50vh;
    border: 1px #777 solid;
    border-radius: 10px;
    text-align: justify;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    animation-name: slideDownFadeIN;
    animation-duration: 0.5s;
}

/* Bouton servant à fermer la fenêtre modale */
.closebtn {
    text-decoration: none;
    float: right;
    font-weight: bold;
    color: #fff;
}

.closebtn:hover,
.closebtn:focus {
    color: #2a2a2a;
    text-decoration: none;
    cursor: pointer;
}

.container {
    padding: 2px 16px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
}

.clo {
    background-color: #27ae60;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    padding: 2px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}