<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Css/model1.css">
    <meta charset="UTF-8">
    <title>Curriculum Vitae</title>
</head>
<body>

<div class="title">
    <?php

        echo "<img src="">";
        echo "<h1 class="name">NOM Prenom</h1>";
        <!--post?-->
    ?>
</div>

<section>
    <div>
        <h2>Contact</h2>
        <ul>
            <li><strong>Adresse:</strong> Votre Adresse</li>
            <li><strong>Téléphone:</strong> Votre Numéro de Téléphone</li>
            <li><strong>Email:</strong> Votre Email</li>
            <li><strong>Site Web:</strong> Votre Site Web</li>
        </ul>
    </div>
</section>

<section>
    <h2>Éducation</h2>
    <h3>Titre du Diplôme</h3>
    <p><strong>Établissement:</strong> Nom de l'établissement</p>
    <p><strong>Date:</strong> Mois/Année de début - Mois/Année de fin</p>
</section>

<section>
    <h2>Expérience Professionnelle</h2>
    <h3>Poste</h3>
    <p><strong>Entreprise:</strong> Nom de l'entreprise</p>
    <p><strong>Date:</strong> Mois/Année de début - Mois/Année de fin</p>
    <p><strong>Description:</strong> Description de vos responsabilités et réalisations</p>
</section>

<section>
    <h2>Loisir</h2>
    <p><strong></strong></p>
    <p><strong></strong></p>
    <p><strong></strong></p>
</section>

</body>
</html>
