<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../Css/model2.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Nom - Curriculum Vitae</title>
    <style>

    </style>
</head>
<body>

<div class="container">
    <div class="sidebar">
        <img src="votre-photo.jpg" alt="Votre Photo" width="150" height="150" style="border-radius: 50%;">
        <h1>Votre Nom</h1>
        <h2>Contact</h2>
        <ul>
            <li><strong>Adresse:</strong> Votre Adresse</li>
            <li><strong>Téléphone:</strong> Votre Numéro de Téléphone</li>
            <li><strong>Email:</strong> Votre Email</li>
        </ul>
    </div>

    <div class="content">
        <h2>Éducation</h2>
        <h3>Titre du Diplôme</h3>
        <p><strong>Établissement:</strong> Nom de l'établissement</p>
        <p><strong>Date:</strong> Mois/Année de début - Mois/Année de fin</p>

        <h2>Expérience Professionnelle</h2>
        <h3>Poste</h3>
        <p><strong>Entreprise:</strong> Nom de l'entreprise</p>
        <p><strong>Date:</strong> Mois/Année de début - Mois/Année de fin</p>
        <p><strong>Description:</strong> Description de vos responsabilités et réalisations</p>

        <h2>Loisir</h2>
        <p>j'aime les pates</p>
        <p>atchoum</p>
        <p>et ouiiii</p>

    </div>
</div>

</body>
</html>
